body {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  font-size:1em;
  text-align:center;
}
@-webkit-keyframes fade {
  0% { opacity: 1.0; }
  100% { opacity: 0.0; }
}
@-webkit-keyframes drop {
  from {top: -32px;}
  to {top:103%;}
}
@-webkit-keyframes jiggle {
  0% {left:-100px;}
  50% {left:0px;}
  100% {left:100px;}
}
@-webkit-keyframes windy {
  from {-webkit-transform: skewX(0deg);}
  to {-webkit-transform: skewX(-10deg);}
}
@-webkit-keyframes spin{
    0%   { -webkit-transform: rotate(0deg) translate(4px, 8px);}
    100%   { -webkit-transform: rotate(1800deg) translate(4px, 8px);}
}
#stage{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  z-index:-1;
}


button{
  padding:10px;
}